<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Chill Radio</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# TODO: add background attribution: #}
        {# Photo by Andrew Haimerl (andrewnef) on Unsplash #}
        
        <div
            class="main-container h-screen text-white"
            style="background: url({{ asset('img/background.jpg') }}) center"
        >
            <nav class="p-6 pt-8">
                <div class="container mx-auto flex justify-center md:justify-start">
                    <p class="text-2xl">Chill Radio</p>
                </div>
            </nav>
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
    </body>
</html>
